@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .type-label {
    border-radius: 23px;
    color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pretendard", "Apple SD Gothic Neo", sans-serif;
  letter-spacing: -0.3px;
  font-size: 17px;
  color: #2a2a2a;
  overflow-y: scroll;
  height: 100%;
  background-color: #f2f4f6;
}

dl,
ul,
ol,
li {
  list-style: none;
}

a,
strong,
span {
  display: block;
  /* font-family: "Pretendard", sans-serif; */
}

button {
  cursor: pointer;

  /* 드래그 금지 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

fieldset,
img,
iframe {
  border: 0 none;
}

img,
video {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

i,
em,
address {
  font-style: normal;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: #2a2a2a;
  text-decoration: none;
}

select,
textarea,
input,
button {
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
